#info {
  margin: 45px;
  color: white;
  background-color: var(--accent);
  box-shadow: var(--drop-shadow);
  width: 11%;
  margin-left: 320px;
  border: 3px solid var(--primary-color1);
}

.row {
  gap: 32px;
}
.card {
  width: 800px;
  margin-bottom: 32px;
  box-shadow: var(--drop-shadow);
}

#list {
  box-shadow: var(--drop-shadow);
  border: 3px solid var(--primary-color1);
}

.list-group-item + .list-group-item.active {
  margin-top: calc(-1 * var(--bs-list-group-border-width));
  border-top-width: var(--bs-list-group-border-width);
  background-color: var(--accent);
  border: none;
  cursor: pointer;
  background-color: var(--primary-color1);
}

.list-group-item.active {
  background-color: var(--primary-color1);
  border: none;
  cursor: pointer;
}

#next_button {
  margin-top: 32px;
  box-shadow: var(--drop-shadow);
}

p {
  margin-top: 15px;
}

img {
  border: 2px solid var(--primary-color1);
}

.card {
  width: 800px;
  border: 3px solid var(--primary-color1);
}
