#info {
  margin: 45px;

  background-color: var(--accent);
  box-shadow: 0px 6px 6px 2px rgba(34, 27, 27, 0.549);
  width: 11%;
}

.row {
  gap: 32px;
}
.card {
  width: 800px;
  margin-bottom: 32px;
}

#next_button {
  margin-top: 32px;
}

p {
  margin-top: 15px;
}

img {
  border: 5px solid black;

}

.card {
  width: 800px;

}
