h2 {
  font-size: 3.5rem;
  text-align: center;
}

h3 {
  margin-top: 28px !important;
  margin-bottom: 10px;
}

.loc-info,
.loc-search {
  margin: 0 auto;
  padding-top: 20px;

  text-align: center;
}
#search-form {
  width: 30%;
  margin: 0 auto;
  color: rgb(215, 211, 211);
}

#button-search {
  box-shadow: 0px 6px 6px 2px rgba(34, 27, 27, 0.549);
}
