.nav-link {
  font-family: sans-serif;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  color: white;
  margin-right: 1rem;
  border-top: 3px solid transparent;
  font-size: 1.8rem !important;
}

.navbar {
  top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link {
  color: #fff !important;
  text-decoration: none;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover {
  border-top-color: rgb(255, 0, 0);
}
.navbar {
  background-color: rgb(245, 177, 114) !important;
  padding: 0 !important;
}

.nav-container .container {
  background-color: transparent !important;
}
