.nav-link {
  font-family: Alkatra, sans-serif;
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  color: #1a385a;
  margin-right: 1rem;
  border-top: 3px solid transparent;
  font-size: 1.8rem !important;
}

.navbar {
  top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-link {
  color: #1a385a !important;
  text-decoration: none;
}

.nav-link.active,
.nav-link:focus,
.nav-link:hover {
  border-top-color: #1a385a;
}
.navbar {
  background: linear-gradient(
    159deg,
    rgba(228, 111, 68, 1) 0%,
    rgba(232, 170, 155, 1) 52%
  );
  padding: 0 !important;
}

.nav-container .container {
  background: linear-gradient(
    159deg,
    rgba(228, 111, 68, 1) 0%,
    rgba(232, 170, 155, 1) 52%
  );
}
