@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100&display=swap");

:root {
  --background-color: ;
  --primary-color: ;
  --primary-color2-rgb: ;
  --primary-color2-rgba: ;
  --secondary-color: ;
  --overlay-color: ;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--bg-color) !important;
  color: white !important;
  font-family: "Roboto", sans-serif;
  font-weight: 300 !important;
}

ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
